// Font family
$primary-font: "Open Sans", sans-serif;

// Colors
$bg-custom-color: #021313;
$primary-color: #fff;
$secondary-color: #000;
$third-color: #809e56;


// Tooltip colors
$tooltip-bg: $primary-color;
$tooltip-color: $secondary-color;
